
<main>
  <div class="categories">
    <span id="5" (click)="displayCategory($event)"> Action </span>
    <span id="6" (click)="displayCategory($event)">Thriller</span>
    <span id="7"(click)="displayCategory($event)">Comedy</span>
    <span id="8" (click)="displayCategory($event)">Sci Fi</span>
  </div>

  <section *ngIf="show">
      <div *ngFor="let movie of categoryList" class="product-card">
        <div class="placeholder">
          <img src="{{ movie. movieImage }}">
        </div>
        <div class="product-buttons">
          <button type="button" (click)="addToCart(movie)">Add to cart</button>
          <button type="button"><a routerLink="{{ movie.movieId }}">About</a></button>
        </div>
      </div>
  </section>

  <section *ngIf="!this.show">
    <div *ngFor="let movie of movieList" class="product-card">
      <div class="placeholder">
        <img src="{{ movie. movieImage }}">
      </div>
      <h3>{{ movie.moviePrice }}SEK </h3>
      <div class="product-buttons">
        <button type="button" (click)="addToCart(movie)">Add to cart</button>
        <a routerLink="{{ movie.movieId }}"><button type="button">About</button></a>
      </div>
    </div>
  </section>
</main>




