<main>
  <section *ngIf="cartItems">
    <div *ngFor="let item of cartItems" class="shoppingcart">
      <div class="cart-item">
        <div class="placeholder">
          <img src="{{ item.movieImage }}">
        </div>
        <div class="item-info">
          <h4>
            {{ item.movieName }}
          </h4>
          <span>
            Quantity: {{ item.quantity }}
            Sum: {{ item.sum }}
          </span>
        </div>
        <div class="edit-item">
          <button (click)="increase(item)">+</button>
          <button (click)="decrease(item)">-</button>
        </div>
      </div>
      <div class="cart-total">
        <h4>Total: {{ cartTotal }} SEK</h4>
      </div>
    </div>

    <!-- <section *ngIf="cartItems.length === 0">
      <div class="shoppingcart">
        <div class="placeholder-text">
          <h4>Cart is empty!</h4>
        </div>
      </div>
    </section> -->
    <div>
      <button [disabled]="cartItems.length < 1">Checkout</button>
    </div>
  </section>

  <!-- har laddas checkout-form, borde man skicka med shoppingcart? -->
  <section>
    <app-checkout-form></app-checkout-form>
  </section>
</main>
