
<form  [formGroup]="orderForm" (ngSubmit)="placeOrder()">
  <div class="checkout-userInfo">
    <label>Firstname:</label>
    <input type="text" formControlName="customerName"/>
    <label>Lastname:</label>
    <input type="text" formControlName="customerLastName"/>
    <label>Email:</label>
    <input type="email" formControlName="customerEmail"/>
  </div>


  <div class="checkout-userPayment">
    <label>Payment method:</label>
    <span><input type="radio" formControlName="customerPayment" value="visa" />Visa</span>
    <span><input type="radio" formControlName="customerPayment" value="mastercard" />MasterCard</span>
    <span><input type="radio" formControlName="customerPayment" value="faktura" />Faktura</span>
  </div>


  <button type="submit">BUY</button>
</form>


  <!-- <label for="products">Products:</label>
  <div>
    <ul *ngFor="let item of cartItems">
      <li>
        Name: {{ item.movieName }}
        Quantity: {{ item.quantity }}
      </li>
    </ul>
  </div> -->

  <!-- Grupp 1 HIDDEN INFO
  <div formGroupName="orderFirst">

    <label for="orderId">Order Id:</label>
    <input type="number" formControlName="orderId" />

    <label for="companyId">Company Id:</label>
    <input type="number" formControlName="companyId"/>

    <label for="orderDate">Order date:</label>
    <input type="date" formControlName="orderDate" />

    <label for="orderStatus">Order status:</label>
    <input type="number" formControlName="orderStatus"/>

  </div> -->
